@{
    ViewBag.Title = "About";
}
<header id="gtco-header" class="gtco-cover gtco-cover-md g-header" role="banner" style="background-image: url(/Content/Home/images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
</header>
<div class="container">
    <br /><br /><br /><br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@ViewBag.Title</h3>
        </div>
        <div class="panel-body">
            <h3>Chào mừng đến với khách sạn PullMan-Hotel</h3>

            <p>
                Tọa lạc ngay trung tâm Thành phố Hồ Chí Minh, gần chợ Bến Thành, khu Phạm Ngũ Lão, nhiều điểm du lịch và cách SECC 30 phút, khách sạn có 306 phòng đặc trưng kết hợp giữa thiết kế, tiện nghi và kết nối. Các tiện nghi bao gồm nhà hàng phục vụ ăn uống cả ngày, quầy bar pop-up burger và Mad Cow Wine & Grill với tầm nhìn toàn cảnh thành phố. Khách sạn còn có Wi-Fi miễn phí, hồ bơi, trung tâm thể dục, spa và các địa điểm tổ chức hội họp công nghệ cao có sức chứa lên đến 500 khách.
                <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6122182088725!2d106.68947731531627!3d10.764339762358906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f16eed5fd93%3A0xcf03e60b4aa18989!2zS2jDoWNoIHPhuqFuIFB1bGxtYW4gU8OgaSBHw7JuIENlbnRyZQ!5e0!3m2!1svi!2s!4v1652115955223!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></center>
                
            </p>
        </div>
    </div>
</div>

